
 <hr class="featurette-divider">

 <div class="row featurette">
   <div class="col-md-7">
     <h2 class="featurette-heading">¿Cómo afecta la contaminación a los osos polares? </h2><br>
     <p class="lead">La contaminación medioambiental con pesticidas y otros químicos está dañando cada vez más el sistema inmunológico de los osos polares, informó el Fondo Mundial para la Naturaleza (WWF) en Bremen tras realizar un estudio.</p>
     <br><p class="lead">La pérdida de su hábitat, el hielo marino, debido al cambio climático, es la mayor amenaza para la supervivencia de los osos polares. Sin embargo también enfrentan otras amenazas como los conflictos con los humanos, la caza insostenible y los impactos generados por la industria.</p>
   </div>
   <div class="col-md-5">
    <img src="./../../assets/1.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500">
</div>
 </div>

 <hr class="featurette-divider">

<div class="container marketing">
  
  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" src="./../../assets/2.jpg" width="140" height="140" alt="Descripción de la imagen">
  
      <h2>Los osos polares pasan más del 50% de su tiempo buscando comida</h2>
      <p>Un oso polar puede atrapar solo una o dos de las diez focas que caza, dependiendo de la época del año y de otros factores. Ya que necesitan grandes cantidades de grasa para sobrevivir, principalmente se alimenta de focas anilladas y barbudas.</p>
    </div>
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" src="./../../assets/3.jpg" width="140" height="140" alt="Descripción de la imagen">
  
      <h2>¿Por que son importantes?</h2>
      <p>Los osos polares se encuentran en la parte superior de la cadena alimenticia y desempeñan un importante papel en la salud general del medio ambiente marino. Durante miles de años, los osos polares también han sido importantes para las culturas y las economías de las comunidades de la región. Los osos polares dependen del hielo marino para su sobrevivencia y se ven directamente afectados por el cambio climático.</p>

    </div>
    <div class="col-lg-4">
      <img class="bd-placeholder-img rounded-circle" src="./../../assets/4.jpg" width="140" height="140" alt="Descripción de la imagen">
  
      <h2>Amenazas</h2>
      <p>La pérdida de su hábitat, el hielo marino, debido al cambio climático, es la mayor amenaza para la supervivencia de los osos polares. Sin embargo también enfrentan otras amenazas como los conflictos con los humanos, la caza insostenible y los impactos generados por la industria so polar puede atrapar solo una o dos de las diez focas que caza,..</p>

    </div>
  </div></div>
  
  
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿QUÉ ESTAMOS HACIENDO EN WWF? </h2><br>
      <p class="lead">El cambio climático está obligando a los osos polares a pasar más tiempo en tierra por lo que éstos entran en contacto más a menudo con las comunidades de la región. Desafortunadamente estas interacciones en ocasiones no terminan bien para los humanos y los osos.
</p>
      <br><p class="lead"> En Rusia y Alaska, WWF está haciendo frente a este desafío apoyando los esfuerzos locales para proteger a las personas y a los osos polares. También trabajamos monitoreando las poblaciones de los osos polares; contribuimos a reducir los impactos generados por la industria; y protegemos las últimas regiones de hielo marino del Ártico.</p>
    </div>
    <div class="col-md-5">
     <img src="./../../assets/6.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="700" role="img" aria-label="Placeholder: 500x500">
 </div>
  </div>